@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
